.accountBox {
  width: 400px;
  height: auto;
  margin: 100px auto;
  color: white;
  padding: 20px 20px;
  font-size: 25px;
}

.accountBox input {
  width: 80%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.accountBox a {
  text-decoration: none;
}
