div{
   text-align: center;
}

select{
    margin: 5px;
    font-size: 15px;
}

input[type=submit] {
    background-color:forestgreen;
    border: 1px solid limegreen;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

#title {
    float: left;
}