div{
   text-align: center;
}

ul{
    list-style-type: none;
}

button, input, select{
    margin: 5px;
    font-size: calc(7px + 1vw);
}

li{
    font-size: calc(5px + 1vw);
}

input[type=submit] {
    background-color:forestgreen;
    border: 1px solid limegreen;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}