body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --bg-color: #252925;
  --text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black,
    0 0 1px black;
  --product-backup-color: #00c308;
  --product-color: rgba(0, 195, 8, 194);
}

body {
  background-color: var(--bg-color);
}

div {
  text-align: center;
}

select {
  margin: 5px;
}
