body {
    background-color: aliceblue;
}

.navbar {
    width: 100%;
    background-color: black;
    height: auto;
    overflow: auto;
    box-shadow: #000000 0px 0px 1px, #000000 0px 1px 0px, #000000 1px 0px 0px;
    padding: 0;
    margin: 0;
}

.navbar h2{
    margin: 0;
    margin-top: 2px;
    margin-left: 20px;
    font-family: 'Segoe UI', sans-serif;
}

.navbar h3{
    margin: 0;
    margin-top: 2px;
    padding-right: 20px;
}

.navbar input{
    margin: 6px;
    font-size: 15px;
}

.navbar * {
    color: white;   
    float: right;
    font-weight: 100;
}

